{% extends '::base.html.twig' %}

{% block title %}Галерея - админка{% endblock %}

{% block body %}
    <div class="container">
        <h1>Управление альбомами</h1>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Добавить новый альбом
        </button>

        <table class="table table-bordered table-hover">
            <tr>
                <th>Название альбома</th>
                <th>Количество фотографий</th>
                <th>Текущее расположение</th>
                <th>Изменить порядок</th>
            </tr>
            {% for album in albums %}
                <tr>
                    <td>
                        <a href="{{ path('app_main_showalbum', {'album_id' : album.id}) }}">
                            {{ album.name }}
                        </a>
                    </td>
                    <td>{{ album.images|length }}</td>
                    <td>
                        {% if album.position != null %}
                            {{ album.position }}
                        {% else %}
                            <span>{{ album.created|date("d-m-Y") }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% set numeration = numeration_form.createView %}
                        {{ form_start(numeration, {'action' : path('app_main_saveposition', {'album_id' : album.id})}) }}
                        {{ form_widget(numeration) }}
                        {{ form_end(numeration) }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Добавление нового альбома</h4>
                    </div>
                    <div class="modal-body">
                        <div class="save_album_form">
                            {{ form_start(form, {'action': path('app_main_admin'), 'method': 'POST'}) }}
                            <div class="form-group">
                                {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.description, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.created, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div style="clear: both"></div>
                            <h4>Изображение</h4>
                            <ul class="photos"
                                data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                            </ul>
                            {{ form_widget(form.images) }}
                            <input type="submit" value="Сохранить" class="btn btn-success">
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script>
        var $addMoreImage = $('<span class="add_more_image">Добавить изображение</span>');
        var $newLinkLi = $('<li></li>').append($addMoreImage);

        jQuery(document).ready(function () {
            var $collectionHolder = $('ul.photos');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addMoreImage.on('click', function (e) {
                e.preventDefault();
                addImageForm($collectionHolder, $newLinkLi);
            });


        });

        function addImageForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li class="new_form"></li>').append(newForm);

            $newFormLi.append('<span class="remove-image">X</span>');
            $newLinkLi.before($newFormLi);

            $('.remove-image').click(function (e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            });
        }
    </script>
{% endblock %}

