{% extends '::base.html.twig' %}

{% block title %}{{ album.name }}{% endblock %}
{% block body %}
    <header>
        <div class="container">
            <a href="{{ path('app_main_index') }}" class="navbar-brand brand">Фотогалерея</a>
        </div>
    </header>
    <div class="container">
        <div class="description">
            <h1>{{ album.name }} ({{ album.images|length }} фото)</h1>
            <h6>{{ album.created|date("d-m-Y")}}</h6>
            <p>{{ album.description }}</p>
        </div>
        {% for image in images %}
            <div class="col-lg-3">
                <div class="index-album">
                    <a title="{{ image.name }}" class="single_image " href="{{ asset(album_image_directory ~ image.image) }}">
                        <img class="image" src="{{ asset(album_image_directory ~ image.image) }}"/>
                    </a>
                </div>
                <b>{{ image.name }}</b>
                {% if is_granted("ROLE_ADMIN") %}
                    {% set numeration = numeration_form.createView %}
                    {{ form_start(numeration, {'action' : path('app_main_savephotoposition', {'photo_id' : image.id})}) }}
                    {{ form_widget(numeration) }}
                    {{ form_end(numeration) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".single_image").fancybox({
                helpers : {
                    title: {
                        type: 'inside',
                        position: 'bottom'
                    }
                }
            });
        });
    </script>

{% endblock %}