{% extends "::base.html.twig" %}

{% block title %}Фотогалерея - Главная{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <a href="{{ path('app_main_index') }}" class="navbar-brand brand">Фотогалерея</a>
        </div>
    </header>
    <div class="container">

        {% for album in pagination %}
            <div class="col-lg-4">
                <div class="index-album">
                    <a href="{{ path('app_main_showalbum', {'album_id' : album.id}) }}">
                        <img class="image" src="{{ asset(album_image_directory ~ album.image) }}"/>
                    </a>
                </div>
                <a class="album-link" href="{{ path('app_main_showalbum', {'album_id' : album.id}) }}">
                    <b>{{ album.name }}</b>
                </a>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
