{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-lg-4 col-md-4 col-sm-8 sign_form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("app_main_login") }}" method="post">
                    <h2 class="text-center">Авторизация на сайте</h2>
                    <label for="username">Логин</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"
                           required="required">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="_password" class="form-control" required="required">
                    <input type="submit" class="btn btn-primary btn-lg btn-block"
                           value="Войти">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

