.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.remove-image {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

.new_form > div > div {
    display: inline-block;
    padding-right: 15px;
    float: left;
}

.photos {
    list-style: none;
}

.add_more_image {
    cursor: pointer;
    color: lightseagreen;
}

.index-album {
    border: 2px solid #dfe0e2;
    margin-top: 30px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.index-album:hover {
    box-shadow: rgba(83, 78, 82, 0.5) 0 0 15px 0;
}

.image {
    max-width: 350px;
    height: auto;
    display: block;
    margin: auto auto;
}

.album-link {
    text-align: center;
    display: block;
    color: black;
}

header {
    background-color: black;
    height: 50px;
}

.brand {
    color: white;
}

