{% extends "::base.html.twig" %}

{% block title %}Регистрация - Заметки{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6" style="margin-top: 10%">
                <h1 class="text-center">Регистрация на сайте</h1>
                {{ form_start(form, {'action': path('user_new'), 'method': 'POST'}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
